@import '../../styles/Color.scss';

%Piece {
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 2;
}

%cell {
  border: 1px solid black;
}

.OPiece {
  @extend %Piece;
  grid-column-end: span 2;
  grid-row-end: span 2;
  grid-template: 1fr 1fr / 1fr 1fr;

  div {
    background-color: $navyBlue;
    @extend %cell;
  }
}

.IPieceHorizontal {
  @extend %Piece;
  grid-column-end: span 4;
  grid-row-end: span 1;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;

  div {
    @extend %cell;
    background-color: $maroon;
  }
}

.IPieceVertical {
  @extend %Piece;
  grid-column-end: span 1;
  grid-row-end: span 4;
  grid-template: 1fr 1fr 1fr 1fr / 1fr;

  div {
    @extend %cell;
    background-color: $maroon;
  }
}

.JPieceHorizontal {
  @extend %Piece;
  grid-column-end: span 3;
  grid-row-end: span 1;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;

  div {
    @extend %cell;
    background-color: $silver;
    justify-content: end;
  }
}

.JPieceVertical {
  @extend %Piece;
  grid-column-end: span 1;
  grid-row-end: span 3;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;

  div {
    @extend %cell;
    background-color: $silver;
    justify-content: end;
  }
}
